/* PAGE */

@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  min-height: 100%;
  height: 100%;
  text-align:center;
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
  color:rgba(0,0,0,0.87);
}

h1{
  padding-top: 10px;
}

h2{
  font-size: 30px;
}

h3{
  font-size: 25px;
}

h4{
  font-size: 25px;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

/*.App {
Keep page fit to size
  width: fit-content;
  height: fit-content;
}
*/

.container {
  min-height: 100%;
  height: 100%;
  width: 100%;
  padding: 45px 20px;
}

/* NAVBAR */

.navbar {
  width:100%;
  height:60px; 
  line-height:60px;
  background:#ff5252;
  color:#fff;
  position:relative;
  margin-bottom:-60px; 
  z-index:3;
  text-transform:uppercase;
  overflow: hidden;
}

.navbar a {
  color: rgb(255, 255, 255);
  float: right;
  padding-left: calc(0.6vw + 0.6vh + 0.2vmin);
  padding-right: calc(0.6vw + 0.6vh + 0.2vmin);
  text-decoration: none;
  font-size: calc(1vw + 1vh + 0.3vmin);;
}

.navbar a:hover {
  background-color: rgb(247, 196, 196);
  color: black;
}

.navbar a.active {
  background-color: #943232;
  color: white;
}

/*"IPFS FILE UPLOAD" - Title*/
.navbar b {
  font-size: calc(2vw + 2vh + 0.5vmin);
  float: left;
  color: rgb(255, 255, 255);
  padding-left: 8px;
  text-decoration: none;
  
}
/* Name box */
.author {
  margin: 10px;
}

/* Capture File Button*/ 
.captureFile {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
  margin-bottom: 10px;
}

/* Submit File Button*/ 
.submit {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 15px;
}

/* Show Latest Block Button */
.blockbutton {
  margin: 20px;
  padding: 5px;
  background-color: #ff5252;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px;
}
.blockbutton:hover {
  background-color: #eee;
  color: black;
}

/*Show Latest Upload Button */
.view_upload_button {
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 5px;
  background-color: #ff5252;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px;
}
.view_upload_button:hover {
  background-color: #eee;
  color: black;
}

/*Download Button */
.download_button {
  margin-bottom: 20px;
  margin-left: 5px;
  margin-top: 5px;
  padding: 5px;
  background-color: #ff5252;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px;
}
.download_button:hover {
  background-color: #eee;
  color: black;
}

.show_block {
  white-space: pre-line;
  font-size: 15px;
}

.show_upload
{
  white-space: pre-line;
  font-size: 15px;
}

/*Route function pages*/
.upload
{
  padding-top: 50px;
}

/* Footer */
.footer
{
  background: #303036;
  color: #d3d3d3;
  height: 50px;
  width: 100%;
  position: auto;
  bottom:0;
  left:0;
  right:0;
  height:50px;
}

